@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
  list-style: none;
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(209, 209, 209);
  background-image: url(./assets/images/background/60-lines.png);
}

header {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 5px #0009;
  font-size: 1.5rem;
  background-color: ivory;
  background-image: url(./assets/images/background/green-dust-and-scratches.png);
}

header > img {
  width: 3rem;
  filter: drop-shadow(2px 2px 2px #0009);
}

.drop {
  width: 2rem;
  filter: drop-shadow(2px 2px 2px #0009);
}

.ocean {
  width: 100%;
}

.ocean > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ocean a:hover {
  color: rgb(70, 101, 121);
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .ocean {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .drop {
    display: none;
  }
}

/* Parte principal */

#intro {
  padding: 1rem;
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(70, 101, 121, 1) 25%,
    rgba(0, 0, 0, 1) 75%
  );
}

#intro > img {
  width: 20rem;
}

h1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 0.1rem 0rem;
  margin: 1rem 0rem;
  text-shadow: 5px 5px 5px rgba(70, 101, 121, 1);
}

#intro > h2 {
  margin: 2rem 0rem 1rem 0rem;
  padding: 0.1rem 0rem;
  border-bottom: 2px solid ivory;
  border-top: 2px solid ivory;
  color: ivory;
  text-shadow: (1px 1px 1px #0009);
  font-weight: 300;
}

#intro > h3 {
  color: ivory;
  filter: drop-shadow(1px 1px 1px #0009);
  font-weight: 300;
  margin: 1rem 0rem;
}

#intro > p {
  color: ivory;
  filter: drop-shadow(1px 1px 1px #0009);
  font-weight: 300;
}

span {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(206, 48, 61);
}

#intro > a {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 2px solid rgb(106, 81, 16);
  background-color: goldenrod;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}

#intro > a:hover {
  transform: scale(1.1);
}

.sea {
  width: 100%;
  padding: 0.5rem;
  position: sticky;
}

.sea img {
  width: 4.5rem;
  height: 4.5rem;
  filter: brightness(50%);
}

.sea p {
  color: ivory;
  filter: brightness(50%);
}

.sea > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.sea li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in-out 0.3s;
}

.sea li:hover {
  transform: scale(1.1);
  text-decoration: underline ivory;
  img {
    filter: brightness(100%);
  }
  p {
    filter: brightness(100%);
  }
}

@media screen and (max-width: 700px) {
  .sea p {
    display: none;
  }
}

/* Listas de unidades */

#army {
  padding: 1rem;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#army h2 {
  color: black;
  font-size: 3.5rem;
  margin: 3rem 0rem 1rem 0rem;
  text-align: center;
  filter: drop-shadow(2px 2px 2px #0009);
  border-bottom: 5px solid black;
}

#army ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
}

#army li {
  padding: 1rem;
  max-width: 40rem;
  max-height: 40rem;
  min-width: 23.5rem;
  min-height: 23.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #001;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #0009;
}

#army h3 {
  margin: 1rem 0rem;
  font-size: 3rem;
  text-align: center;
  color: ivory;
  text-shadow: 2px 2px 2px #0009;
}

#army p {
  color: ivory;
  text-align: justify;
}

#army img {
  margin: 1rem 0rem;
}

#army > a {
  scroll-margin-top: 6rem;
}

#army li > a {
  padding: 0rem 1rem;
  margin: 1rem 0rem;
  border: 2px solid rgb(106, 81, 16);
  background-color: goldenrod;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}

#army li > a:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  #army p {
    display: none;
  }

  #army img {
    width: 60%;
  }
}

@media screen and (min-width: 700px) {
  #army img {
    width: 50%;
  }
}

/* Footer */

footer {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin-top: 2rem;
  background-color: ivory;
  background-image: url(./assets/images/background/green-dust-and-scratches.png);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 5px -5px 5px #0009;
}

footer > div {
  width: 45%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

footer > div > img {
  width: 5rem;
}

footer > div > a {
  font-weight: bold;
}

.social {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.social img {
  padding: 0.3rem;
  width: 5rem;
  border: 2px solid black;
  box-shadow: 5px 5px 5px #0009;
  filter: grayscale(100%);
  transition: all ease-in-out 0.3s;
}

.social img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

@media screen and (min-width: 700px) {
  .social {
    flex-direction: row;
  }
}
